/* ==========================
RESET
========================== */

.hero{
    height : 950px;
    background : url ("img/fundo_campo.png");
    backgroud-size : cover;
    background-podition : center;
    position : relative;
    pqdding-top: 100px;
}

.hero::before{
    content:"";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
    rgba(255,255,255,.85)
    rgba(255,255,255,.15)
    );
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Baloo 2',sans-serif;

    background:#f5f4ef;

    overflow-x:hidden;

}

/* ==========================
HEADER
========================== */

.header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    height:110px;

    background:#fff;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 70px;

    z-index:9999;

    box-shadow:
    0 2px 15px rgba(0,0,0,.05);

}

.logo img{

    height:75px;

}

.menu{

    display:flex;

    gap:40px;

}

.menu a{

    text-decoration:none;

    color:#18391f;

    font-size:1.15rem;

    font-weight:700;

    transition:.3s;

}

.menu a:hover{

    color:#8fbe1d;

}

.header-buttons{

    display:flex;

    gap:15px;

}

.btn-entrar{

    border:3px solid #0c4c21;

    border-radius:50px;

    padding:14px 32px;

    text-decoration:none;

    color:#0c4c21;

    font-weight:700;

    display:flex;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.btn-participe{

    background:#95bf1e;

    color:white;

    padding:14px 32px;

    border-radius:50px;

    text-decoration:none;

    font-weight:700;

    display:flex;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.btn-entrar:hover,
.btn-participe:hover{

    transform:translateY(-3px);

}

/* ==========================
HERO
========================== */

.hero{

    min-height:100vh;

    position:relative;

    padding-top:110px;

    background-image:url("img/fundo_campo.png");

    background-size:cover;

    background-position:center;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
    90deg,
    rgba(255,255,255,.70),
    rgba(255,255,255,.15)
    );

}

.hero-container{

    position:relative;

    z-index:5;

    display:flex;

    align-items:center;

    justify-content:space-between;

    min-height:85vh;

    padding:0 80px;

}

/* ==========================
ESQUERDA
========================== */

.hero-left{

    width:35%;

}

.hero-left h1{

    font-size:6rem;

    line-height:.9;

    color:#14531f;

    font-weight:900;

    text-transform:uppercase;

}

.hero-left p{

    margin-top:25px;

    font-size:1.5rem;

    max-width:500px;

    color:#222;

}

.btn-ideia{

    display:inline-flex;

    align-items:center;

    gap:15px;

    margin-top:35px;

    padding:18px 38px;

    background:#0d5826;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-size:1.2rem;

    font-weight:700;

    transition:.3s;

}

.btn-ideia:hover{

    transform:translateY(-4px);

}

.frase-curva{

    margin-top:25px;

    color:#14531f;

    font-size:2rem;

    font-style:italic;

}

/* ==========================
MENINA
========================== */

.hero-center{

    width:30%;

    position:relative;

}

.menina{

    width:700px;

    max-width:100%;

    position:relative;

    z-index:10;

}

/* ==========================
DIREITA
========================== */

.hero-right{

    width:25%;

}

.pincel-verde{

    background:#0d5826;

    padding:30px;

    border-radius:18px;

    transform:rotate(-2deg);

}

.pincel-verde h2{

    color:white;

    font-size:2rem;

    line-height:1.3;

}

.slogan{

    margin-top:50px;

    text-align:center;

}

.slogan p{

    color:white;

    font-size:2rem;

    font-weight:700;

    text-shadow:
    0 3px 8px rgba(0,0,0,.5);

}

.slogan span{

    color:#d6ff3b;

    font-size:2rem;

    font-weight:900;

}

/* ==========================
CURVA BRANCA
========================== */

.wave{

    position:relative;

    margin-top:-120px;

    z-index:20;

}

.wave svg{

    display:block;

    width:100%;

    height:180px;

}

/* ==========================
CARDS
========================== */

.cards-section{

    background:#f5f4ef;

    margin-top:-5px;

    padding-bottom:80px;

}

.cards-container{

    max-width:1500px;

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

    padding:0 40px;

}

.card{

    background:white;

    border-radius:30px;

    padding:35px;

    min-height:320px;

    text-decoration:none;

    color:#222;

    box-shadow:
    0 10px 25px rgba(0,0,0,.05);

    transition:.4s;

}

.card:hover{

    transform:
    translateY(-10px);

}

.icone-card{

    width:90px;

    height:90px;

    background:#8fbe1d;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:25px;

}

.icone-card img{

    width:45px;

}

.card h3{

    color:#163c1e;

    font-size:2rem;

    line-height:1.1;

}

.card p{

    margin-top:15px;

    line-height:1.7;

    font-size:1.1rem;

}

.card span{

    display:block;

    margin-top:25px;

    font-size:2rem;

    color:#0d5826;

}